<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Прогрессии</title>
    </head>
    <body>
        <h1>Прогрессии</h1>
        <table border="1" cellpadding="5">
            <tr><th> <a href="/arithmetic/list">Таблица арифметических прогрессий</a> </th></tr>
            <tr><th> <a href="/geometric/list">Таблица Геометрических прогрессий</a> </th></tr>
            <tr><th> <a href="/startTerms/list">Таблица Первичных шагов</a> </th></tr>
        </table>
    </body>
</html>